<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>checkbox</title>
  </head>
  <body>
    <div class="container"><input type="checkbox" /> box1</div>
    <br />
    <div class="container"><input type="checkbox" /> box2</div>
    <br />
    <div class="container"><input type="checkbox" /> box3</div>
    <br />
    <div class="container"><input type="checkbox" /> box4</div>
    <br />
  </body>
</html>
