<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>checkbox</title>
  </head>
  <body>
    <div class="container">
      <button
        type="button"
        class="btn btn-primary"
        onclick="doSave();"
        onclick="alert('전체 메일이 선택되었습니다.')"
        value="클릭"
      >
        선택하기
      </button>
      <br />
      <label>
        <input type="checkbox" id="checkall" onclick="checkAll();" />
        전체선택
      </label>
      <br />
      <label>
        <input type="checkbox" name="mails" value={{search_list[0]}} />
        mail1
      </label>
      <br />
      <label>
        <input type="checkbox" name="mails" value={{search_list[1]}} />
        mail2
      </label>
      <br />
      <label>
        <input type="checkbox" name="mails" value={{search_list[2]}} />
        mail3
      </label>
      <br />
      <label>
        <input type="checkbox" name="mails" value={{search_list[3]}} />
        mail4
      </label>
      <br />
      <label>
        <input type="checkbox" name="mails" value={{search_list[4]}} />
        mail5
      </label>
      <br />
      <button type="button" class="btn btn-primary" >삭제하기</button>
    </div>
    <script>
      function doSave() {
        let mails = document.getElementsByName('mails');
        let checked_leng_items = [];

        for (let i = 0; i < mails.length; i++) {
          if (mails[i].checked) {
            checked_leng_items.push(mails[i].value);
          }
        }

        console.log(checked_leng_items);
      }
      function checkAll() {
        let isChecked = document.getElementById('checkall').checked;
        let chks = document.getElementsByName('mails');
        for (let i = 0; i < chks.length; i++) {
          chks[i].checked = isChecked;
        }
      }
    </script>
  </body>
</html>
